@using Med_341A.datamodels
@using Med_341A.viewmodels
@model VMDoctor

@{
    ViewData["Title"] = "Profil Dokter";
}

<style>
    .Title-Tentang{
        font-size: 1.2em; /* Ukuran font lebih besar */
        font-weight: bold; /* Menebalkan font */
    }
    .institution-name {
        font-size: 1em; /* Ukuran font lebih besar */
        font-weight: bold; /* Menebalkan font */
    }

    .major-year {
        display: flex; /* Membuat elemen dalam baris */
        justify-content: space-between; /* Menjaga jarak antar elemen */
    }

    .year {
        margin-left: auto; /* Menempatkan tahun di sisi kanan */
    }

</style>

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 bg-light p-4">
            <div class="card">
                <div class="card-body text-center">
                    <!-- Profile Image -->
                    <div class="position-relative text-center mb-3">
                        <img src="~/images/@ViewBag.ImagePath" class="rounded-circle img-fluid mb-3" alt="Profile Image" style="width: 200px; height: 200px; object-fit: cover;" />
                        <a class="btn_ubah_gambar position-absolute" dataid="@Model.IdUser" style="top: 0; right: 0; cursor: pointer;">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                    <h4 class="card-title">@Model.Fullname</h4>
                    <p class="card-subtitle">@Model.SpecializationName</p>
                    <div class="position-relative">
                        <i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
                        <i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
                        <i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
                        <i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
                        <i class="fas fa-star" style="color: gold; font-size: 24px;"></i>
                    </div>
                    <hr />
                    <!-- Obrolan/Konsultasi -->
                    <div class="text-start">
                        <div class="d-flex justify-content-between">
                            <a href="#" class="fs-5">Janji</a>
                            <span class="year">@Model.listDokterJanji?.Count</span> 
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="#" class="fs-5">Obrolan / Konsultasi</a>
                            <span class="year">@Model.listDokterChat?.Count</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card Tentang Saya dengan Background Abu-Abu -->
            <div class="card mt-3">
                <div class="card-header text-black text-center" style="background-color: #c2c2a3;">
                    <h4 class="mb-0">Tentang Saya</h4>
                </div>
                <div class="card-body">
                    <h5 class="Title-Tentang">Tindakan Medis</h5>
                    <ul class="list-unstyled">
                        @if (ViewBag.TindakMedis.Count > 0)
                        {
                            @foreach (TDoctorTreatment tindak in ViewBag.TindakMedis)
                            {
                                <li style="font-size: 1em;">- @tindak.Name</li>
                            }
                        }
                        else
                        {
                            <li style="font-size: 1em;">Belum Ada Data Tindakan Medis</li>
                        }
                    </ul>
                    <h5 class="Title-Tentang">Riwayat Praktek</h5>
                    <ul class="list-unstyled">
                        @if (ViewBag.RiwayatPraktek.Count > 0)
                        {
                            @foreach (VMRiwayatPraktek riwayat in ViewBag.RiwayatPraktek)
                            {
                                var endDate = riwayat.EndDate?.ToString("yyyy") == null ? "Sekarang" : riwayat.EndDate?.ToString("yyyy");
                                <li class="institution-name">@riwayat.NameMedicalFacility, @riwayat.FullAddress</li>
                                <li class="major-year">
                                    <span>@riwayat.Specialization</span>
                                    <span class="year">(@riwayat.StartDate?.ToString("yyyy") - @endDate )</span>
                                </li>
                            }
                        }
                        else
                        {
                            <li style="font-size: 1em;">Belum Ada Data Riwayat Praktek</li>
                        }
                    </ul>
                    <h5 class="Title-Tentang">Pendidikan</h5>
                    <ul class="list-unstyled">
                        @if(ViewBag.DokterEducation.Count > 0)
                        {
                            @foreach (MDoctorEducation item in ViewBag.DokterEducation)
                            {
                                <li class="institution-name">@item.InstitutionName</li>
                                <li class="major-year">
                                    <span>@item.Major</span>
                                    <span class="year">(@item.EndYear)</span>
                                </li>
                            }
                        }
                        else
                        {
                            <li style="font-size: 1em;">Belum Ada Data Pendidikan</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-lg-9 p-4">
            <!-- Tabs for Actions, Activity, etc. -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tindakan-tab" data-bs-toggle="tab" href="#tindakan" role="tab" aria-controls="tindakan" aria-selected="true">Tindakan</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="aktifitas-tab" data-bs-toggle="tab" href="#aktifitas" role="tab" aria-controls="aktifitas" aria-selected="false">Aktifitas</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="konsultasi-tab" data-bs-toggle="tab" href="#konsultasi" role="tab" aria-controls="konsultasi" aria-selected="false">Konsultasi</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="pengaturan-tab" data-bs-toggle="tab" href="#pengaturan" role="tab" aria-controls="pengaturan" aria-selected="false">Pengaturan</a>
                        </li>
                    </ul>
                    <!-- Tab Contents -->
                    <div class="tab-content mt-4" id="myTabContent">
                        <div class="tab-pane fade show active" id="tindakan" role="tabpanel" aria-labelledby="tindakan-tab">
                            <div class="mb-3">
                                <h4>Daftar Tindakan</h4>
                                <p>Tidak ada tindakan tersedia saat ini.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="aktifitas" role="tabpanel" aria-labelledby="aktifitas-tab">
                            <div class="mb-3">
                                <h4>Riwayat Aktivitas</h4>
                                <p>Tidak ada aktivitas.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="konsultasi" role="tabpanel" aria-labelledby="konsultasi-tab">
                            <div class="mb-3">
                                <h4>Jadwal Konsultasi</h4>
                                <p>Tidak ada konsultasi tersedia.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pengaturan" role="tabpanel" aria-labelledby="pengaturan-tab">
                            <div class="mb-3">
                                <h4>Pengaturan Profil</h4>
                                <p>Pengaturan dapat diubah di sini.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".btn_ubah_gambar").click(function () {
        var id = $(this).attr("dataid")

        $("#modal_title").text("Ubah Gambar")
        $("#modal_body").empty()
        $("#modal_body").load("/DokterProfil/UbahGambar?id=" + id)
        $("#my_modal").modal("show")
    })
</script>
