@using Med_341A.viewmodels
@model VMUser

<div class="card">
    <div class="card-body">
        <form asp-action="UbahPribadi" method="post" id="form_input">
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <input type="hidden" name="BiodataId" id="BiodataId" value="@Model.BiodataId" />
            <!-- Nama Lengkap -->
            <div class="form-group">
                <label for="Fullname" class="form-label">Nama Lengkap*</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="Fullname" name="Fullname" value="@Model.Fullname" placeholder="Masukkan Nama Lengkap...">
                </div>
                <span class="text-danger" id="Fullname-error"></span>
            </div>

            <!-- Tanggal Lahir -->
            <div class="form-group">
                <label for="Dob" class="form-label">Tanggal Lahir*</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="Dob" name="Dob" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@Model.Dob?.ToString("yyyy-MM-dd")" placeholder="Masukkan Tanggal Lahir...">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                </div>
                <span class="text-danger" id="Dob-error"></span>
            </div>

            <!-- Nomor Handphone -->
            <div class="form-group">
                <label for="MobilePhone" class="form-label">Nomor Handphone*</label>
                <div class="input-group">
                    <span class="input-group-text">+62</span>
                    <input type="text" class="form-control MobilePhone" id="MobilePhone" name="MobilePhone" maxlength="15" value="@Model.MobilePhone" placeholder="8123....">
                </div>
                <span class="text-danger" id="Mobilephone-error"></span>
            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-4">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-primary" id="btn_submit">Simpan</button>
            </div>
        </form>
    </div>
</div>

<script>

    // Fungsi untuk mendapatkan tanggal hari ini dalam format YYYY-MM-DD
    function getTodayDate() {
        var today = new Date()
        var dd = String(today.getDate()).padStart(2, '0')
        var mm = String(today.getMonth() + 1).padStart(2, '0') // Januari = 0
        var yyyy = today.getFullYear()
        return yyyy + '-' + mm + '-' + dd
    }
    
    $(".MobilePhone").on('input', function(){
        var nilai = $(this).val()
        if (nilai.startsWith('0')) {
            nilai = nilai.replace(/^0+/, '');
        }
        $(this).val(nilai)
    })

    var todayDate = getTodayDate()

    jQuery.validator.addMethod("notOnlySpaces", function (value, element) {
        return value.trim().length > 0;
    }, "Nama lengkap tidak boleh hanya berisi spasi");

    // Validasi form menggunakan jQuery Validate
    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Fullname: {
                required: true,
                minlength: 2,
                notOnlySpaces: true
            },
            Dob: {
                required: true,
                date: true,
                max: todayDate // memastikan tanggal tidak melebihi hari ini
            },
            MobilePhone: {
                required: true,
                digits: true,
                minlength: 10,
                maxlength: 15
            }
        },
        messages: {
            Fullname: {
                required: "Nama lengkap tidak boleh kosong",
                minlength: "Panjang minimal 2 karakter",
                notOnlySpaces: "Nama lengkap tidak boleh hanya berisi spasi"
            },
            Dob: {
                required: "Tanggal lahir tidak boleh kosong",
                max: "Tanggal lahir tidak boleh lebih dari hari ini"
            },
            MobilePhone: {
                required: "Nomor handphone tidak boleh kosong",
                digits: "Hanya menerima angka",
                minlength: "Panjang minimal 10 angka",
                maxlength: "Panjang maksimal 15 angka"
            }
        },
        errorPlacement: function (error, element) {
            // Tempatkan pesan validasi di bawah elemen input yang sesuai
            error.appendTo(element.parent().next('span'));
        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            $("#btn_submit").prop("disabled", true);
            buttonOnLoading("#btn_submit", "Memperbaharui Data...")

            $.ajax({
                url: "/UserProfil/UbahPribadi",
                type: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#my_modal").modal("hide")
                        swal(
                            "Success",
                            data.message, {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: "btn btn-success",
                                },
                            },
                        }
                        ).then((clickconfirm) => {
                            if (clickconfirm) {
                                window.location.reload()
                            }
                        })
                    }
                    else {
                        $("#my_modal").modal("hide")
                        swal(
                            "Failed",
                            data.message, {
                            icon: "error",
                            buttons: {
                                confirm: {
                                    className: "btn btn-danger",
                                },
                            },
                        }
                        ).then((clickconfirm) => {
                            if (clickconfirm) {
                                $("#my_modal").modal("show")
                                $("#btn_submit").prop("disabled", false);
                                buttonOnFinish("#btn_submit", "Simpan")
                            }
                        })
                    }
                },
                error: function (xhr, status, error) {
                    // Penanganan kesalahan saat request gagal
                    console.log(`Error: ${status} - ${error}`);
                    $("#btn_submit").prop("disabled", false);
                }
            })
        }
    });
</script>
