@using Med_341A.viewmodels;
@model VPaginatedList<VMedicalItem>;

@{
    ViewData["Title"] = "Pencarian Obat";
    var data = ViewBag.dataHeader;
    var hist = ViewBag.Search;
}

<div class="page-inner mb-200">
    @{
        int totalProduct = @data.TotalQty ?? 0;
        int itemCount = @data.ItemCount ?? 0;
        decimal countAmount = data.Amount ?? 0;

        string dnone = @data.ItemCount == 0 ? "d-none" : "";
    }
    @* Order Chart *@
    @* Search history  *@
    <div class="card">
        <div class="card-body">
            <div class="row row-demo-grid">
                <div class="col-12 col-md-8 justify-content-start align-content-center">
                    <span class="text-muted">
                        @(string.IsNullOrWhiteSpace(hist.Name) ? "" : $"Kata Kunci : {hist.Name}, ")
                        @(string.IsNullOrWhiteSpace(ViewBag.CategoryName) ? "" : $"Kategori : {ViewBag.CategoryName}, ")
                        @(string.IsNullOrWhiteSpace(ViewBag.SegmentationName) ? "Segmen : Semua Jenis Obat " : $"Segmentasi : {ViewBag.SegmentationName} ")
                    </span>
                    <br />
                    <span class="d-block text-muted">
                        @(ViewBag.Min == null ? "" : $"Harga Minimal : {ViewBag.Min}, ")
                        @(ViewBag.Max == null ? "" : $"Harga Maksimal : {ViewBag.Max}, ")
                    </span>

                </div>
                <div class="col-6 col-md-4">
                    <div class="d-flex justify-content-end align-content-center">
                        <button id="btn_search" class="btn btn-info">
                            <i class="fas fa-search"></i>
                            Ulangi Pencarian
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @* Product List*@
    <div class="card mb-200">
        <div class="card-header">
        </div>
        <div class="card-body mb-10">
            <div class="row mx-auto" style="width:90%">
                @{
                    int idx = 1;
                }
                @foreach (VMedicalItem item in Model)
                {
                    <div class="col-md-6">
                        <div class="card card-profile  shadow-lg">
                            <div class="card-body py-5 px-4 d-flex @(idx % 2 == 1? "flex-row-reverse" : "") justify-content-around gap-3">

                                <div class="flex-1 d-flex flex-column  justify-content-between gap-2">

                                    @*Body*@
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title" id="name_@item.Id"> @item.Name</h4>
                                            <p class="ps-2">
                                                <small class="text-muted">
                                                    Per strip @@ @item.Packaging
                                                </small>
                                                <small class="d-block text-muted">
                                                    <i class="fas fa-money-check-alt"></i>
                                                    Rp. @item.PriceMin - Rp .
                                                    <span id="price_@item.Id">
                                                        @item.PriceMax
                                                    </span>
                                                </small>
                                            </p>

                                        </div>
                                        <div class="timeline-body">
                                            <p>
                                                Untuk meredakan @item.Indication
                                            </p>
                                        </div>

                                    </div>
                                    
                                    <div class="d-flex justify-content-around " id="Add_Chart_@item.Id" onclick="hide_show(@item.Id)">
                                        <button id="plus" dataid="@item.Id" class="btn btn-sm btn-secondary btn_plus" style="width: 100%;" type="button">Tambah ke keranjang</button>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center gap-5 d-none" id="Plus_Minus_@item.Id">
                                        <div class="">
                                            <a id="min" dataid="@item.Id" class="btn btn-sm btn-secondary btn_min">
                                                <b>-</b>
                                            </a>
                                        </div>
                                            <span class="text-lg" id="totalitem_@item.Id">0</span>
                                        <div class="">
                                            <a id="plus" dataid="@item.Id" class="btn btn-sm btn-primary btn_plus">
                                                <b>+</b>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*Image*@
                                <div class="d-flex flex-column justify-content-between border-2">
                                    <div class="avatar avatar-xxl">
                                        <img src="@(item.ImagePath ?? "/images/med-medicine.webp")" alt="..." class="avatar-img rounded-2">
                                    </div>
                                    <a class="btn btn-sm btn-black" width="auto">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    idx++;
                }

            </div>

        </div>
        <div class="card-action pb-100 mb-200">
            <div class="row mb-200">
                <div class="col-sm-12 col-md-5 d-flex justify-content-start align-items-center gap-5">
                    <div class="input-group w-auto">
                        <span class="input-group-text" id="basic-addon3">Tampilan Data:</span>
                        <form asp-action="Index"
                              asp-route-pageNumber=1
                              asp-route-Name="@hist.Name"
                              asp-route-SegmentationId="@hist.SegmentationId"
                              asp-route-CategoryId="@hist.CategoryId"
                              asp-route-MinAmount="@ViewBag.Min"
                              asp-route-MaxAmount="@ViewBag.Max"
                              id="form_pagesize">
                            <select name="PageSize" id="PageSize"
                                    class="form-control">
                                <option value="4">4</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </form>
                    </div>
                    <div class="dataTables_info"
                         id="add-row_info"
                         role="status"
                         aria-live="polite">
                         dari @Model.TotalData data.
                    </div>

                </div>
                <div class="col-sm-12 col-md-7 ">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="dataTables_paginate paging_simple_numbers d-flex justify-content-end align-items-center"
                         id="add-row_paginate">
                        <ul class="pagination mb-0">
                            <li class="paginate_button previous">
                                <a id="aPrev" asp-action="Index"
                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-Name="@ViewBag.CurrentFilter"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                                   asp-route-Name="@hist.Name"
                                   asp-route-SegmentationId="@hist.SegmentationId"
                                   asp-route-CategoryId="@hist.CategoryId"
                                   asp-route-MinAmount="@ViewBag.Min"
                                   asp-route-MaxAmount="@ViewBag.Max"
                                   class="btn btn-black float-right @prevDisabled">
                                    Prev
                                </a>
                            </li>
                            <li class="page-link rounded-5 d-flex align-items-center">
                                <span class="text-muted text-center align-items-center">@Model.PageIndex dari @Model.TotalPages</span>
                            </li>
                            <li class="paginate_button next">
                                <a id="aNext" asp-action="Index"
                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                                   asp-route-Name="@hist.Name"
                                   asp-route-SegmentationId="@hist.SegmentationId"
                                   asp-route-CategoryId="@hist.CategoryId"
                                   asp-route-MinAmount="@ViewBag.Min"
                                   asp-route-MaxAmount="@ViewBag.Max"
                                   class="btn btn-black float-right @nextDisabled">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card"></div>
    



    @* Older Order Chart *@
    <div>
    @* <div class="row row-demo-grid position-sticky sticky-bottom" >
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-body">

                    <h5>
                         Produk
                        <span id="totalproduct"> @totalProduct</span> 
                        Jenis Item
                        <span id="itemcount">@itemCount</span>
                        || Estimasi Harga : Rp.
                        <span id="estimateprice">@((int)Math.Round(countAmount))</span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card">
                <div class="card-body d-flex justify-content-center align-content-center">
                    <button class="btn btn-secondary">Keranjang Saya</button>
                </div>
            </div>
        </div> *@
    </div>
    
    @* Pagination Separate*@
    <div>

    @* <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-5 d-flex justify-content-start align-items-center gap-5">
                    <div class="input-group w-auto">
                        <span class="input-group-text" id="basic-addon3">Tampilan Data:</span>
                        <form asp-action="Index"
                            asp-route-pageNumber=1
                            asp-route-Name="@hist.Name"
                            asp-route-SegmentationId="@hist.SegmentationId"
                            asp-route-CategoryId="@hist.CategoryId"
                            asp-route-MinAmount="@ViewBag.Min"
                            asp-route-MaxAmount="@ViewBag.Max"
                            id="form_pagesize">
                            <select name="PageSize" id="PageSize"
                                    class="form-control">
                                <option value="4">4</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </form>
                    </div>
                    <div class="dataTables_info"
                         id="add-row_info"
                         role="status"
                         aria-live="polite">
                        Data ke  dari @Model.TotalData
                    </div>

                </div>
                <div class="col-sm-12 col-md-7 ">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="dataTables_paginate paging_simple_numbers d-flex justify-content-end align-items-center"
                         id="add-row_paginate">
                        <ul class="pagination mb-0">
                            <li class="paginate_button previous">
                                <a id="aPrev" asp-action="Index"
                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                                   asp-route-Name="@ViewBag.CurrentFilter"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                                   asp-route-Name="@hist.Name"
                                   asp-route-SegmentationId="@hist.SegmentationId"
                                   asp-route-CategoryId="@hist.CategoryId"
                                   asp-route-MinAmount="@ViewBag.Min"
                                   asp-route-MaxAmount="@ViewBag.Max"
                                   class="btn btn-black float-right @prevDisabled">
                                    Prev
                                </a>
                            </li>
                            <li class="page-link rounded-5 d-flex align-items-center">
                                <span class="text-muted text-center align-items-center">@Model.PageIndex dari @Model.TotalPages</span>
                            </li>
                            <li class="paginate_button next">
                                <a id="aNext" asp-action="Index"
                                   asp-route-sortOrder="@ViewBag.CurrentSort"
                                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewBag.CurrentFilter"
                                   asp-route-pageSize="@ViewBag.CurrentPageSize"
                                   asp-route-Name="@hist.Name"
                                   asp-route-SegmentationId="@hist.SegmentationId"
                                   asp-route-CategoryId="@hist.CategoryId"
                                   asp-route-MinAmount="@ViewBag.Min"
                                   asp-route-MaxAmount="@ViewBag.Max"
                                   class="btn btn-black float-right @nextDisabled">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div> *@
    </div>

   

</div>
<div class="row main-header bottom-0 px-5 py-1 bg-transparent" id="Purchase_note" style="zoom: 70%;">
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-primary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center text-primary">
                            <i class="icon-layers"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Barang Terpilih</p>
                            <h4 class="card-title" id="itemcount">@itemCount</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-info card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="icon-grid"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Jumlah Barang</p>
                            <h4 class="card-title" id="totalproduct"> @totalProduct</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-secondary card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="icon-wallet"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <p class="card-category">Total harga</p>
                            <h4 class="card-title" id="estimateprice">@((int)Math.Round(countAmount))</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-warning card-round">
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <div class="icon-big text-center">
                            <i class="icon-basket-loaded"></i>
                        </div>
                    </div>
                    <div class="col-7 col-stats">
                        <div class="numbers">
                            <h4 class="card-title">Keranjang Saya</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let data = {}

    var totalproduct = parseInt($("#totalproduct").text())
    var estimateprice = parseInt($("#estimateprice").text())
    var itemcount = parseInt($("#itemcount").text())
    var obj = {}
    var ListCart = @Html.Raw(ViewBag.dataDetail)

    setTransaction()

    //set product choose
    function setTransaction() {
        hide_note()
        if (ListCart != null) {
            $.each(ListCart, function (index, element) {

                var id = element.MedicalItemId
                hide_show(id)
                $("#totalitem_" + id).text(element.Qty)
            })
        }
    }

    $(".btn_plus").click(function () {

        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
            }

        obj = {}

        var id = parseInt($(this).attr("dataid"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idname = "#name_" + id

        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())


        totalproduct++
        totalitem++
        estimateprice = estimateprice + price

        $("#totalproduct").text(totalproduct)
        $("#estimateprice").text(estimateprice)

        $(idtotalitem).text(totalitem)

        obj.MedicalItemId = id
        obj.Qty = totalitem
        obj.SubTotal = price * totalitem
        obj.Price = price

        addList(id, obj)
        //console.log(ListCart)

        // show jumlah item
        hide_note()
        itemcount = ListCart.length
        $("#itemcount").text(itemcount)

        setSession()
    })


    $(".btn_min").click(function () {
        if (ListCart == null || ListCart.length == 0) {
            ListCart = @Html.Raw(ViewBag.dataDetail)
            }

        var id = parseInt($(this).attr("dataid"))
        var idprice = "#price_" + id
        var idtotalitem = "#totalitem_" + id
        var idname = "#name_" + id


        var totalitem = parseInt($(idtotalitem).text())
        var price = parseInt($(idprice).text())


        if (totalitem > 0) {
            totalproduct--
            totalitem--
            estimateprice = estimateprice - price

        }

        if (totalitem == 0)
        {
            show_hide(id)
        }

        $("#totalproduct").text(totalproduct)
        $("#estimateprice").text(estimateprice)

        $(idtotalitem).text(totalitem)

        obj.MedicalItemId = id
        obj.Qty = totalitem
        obj.SubTotal = price * totalitem
        obj.Price = price

        spliceList(id, obj)

        hide_note()
        itemcount = ListCart.length
        $("#itemcount").text(itemcount)
        //console.log(ListCart)

        setSession()
    })

    function addList(id, obj) {
        const index = ListCart.map(e => e.MedicalItemId).indexOf(id);

        if (index == -1) {
            ListCart.push(obj)
        }
        else {
            ListCart[index].Qty = obj.Qty
            ListCart[index].SubTotal = obj.SumPrice
        }
    }

    function spliceList(id, obj) {
        const index = ListCart.map(e => e.MedicalItemId).indexOf(id);

        if (index != -1) {
            ListCart[index].Qty = obj.Qty
            ListCart[index].SubTotal = obj.SumPrice

            if (obj.Qty == 0) {
                ListCart.splice(index, 1)
            }
        }
    }

    function setSession() {
        var itemCt = ListCart.length
        data = {
            TotalQty: totalproduct,
            Amount: estimateprice,
            ListDetails: ListCart,
            ItemCount: itemCt
        }

        data.namacustomer = ""
        data.idcustomer = 1

        $.ajax({
            url: "/MedicalItem/SetSession",
            data: { dataHeader: data },
            type: "post",
            dataType: "json",
            success: function (respon) {
                //alert("set session done")
            }
        })
    }

    $("#btn_search").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/MedicalItem/SearchMenu")
        $("#my_modal").modal("show")

    })

    $("#PageSize").val("@ViewBag.CurrentPageSize")

    $("#PageSize").change(function () {
        $("#form_pagesize").submit();
    })

    function hide_show(id) {
        $(`#Add_Chart_${id}`).addClass('d-none');
        $(`#Plus_Minus_${id}`).removeClass('d-none');
    }

    function show_hide(id) {
        $(`#Add_Chart_${id}`).removeClass('d-none');
        $(`#Plus_Minus_${id}`).addClass('d-none');
    }

    function hide_note()
    {
        if (ListCart.length != 0)
            $(`#Purchase_note`).removeClass('d-none');
        else
            $(`#Purchase_note`).addClass('d-none');
    }
</script>