@using Med_341A.Services
@using Med_341A.viewmodels
@inject MenuRoleService mrService
@{
    int IdCustomer = @Context.Session.GetInt32("IdCustomer") ?? 0;
    int IdRole = Context.Session.GetInt32("IdRole") ?? 0;

    var menus = await mrService.MenuAccess(IdRole);
}


<!-- Sidebar -->
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <img src="assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>

                @foreach (VMenuRole parent in menus)
                {
                    if (string.IsNullOrWhiteSpace(parent.MenuAction))
                    {
                        var parentId = "collapse" + parent.Id; // Assuming `parent.Id` is unique
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#@parentId" aria-expanded="false">
                                <i class="@parent.MenuIconBig"></i>
                                <p>@parent.MenuName</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="@parentId">
                                <ul class="nav nav-collapse">
                                    @foreach (VMenuRole child in parent.List_Child)
                                    {
                                        <li>
                                            <a asp-controller="@child.MenuController" asp-action="@child.MenuAction">
                                                <span class="sub-item">@child.MenuName</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    } 
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="@parent.MenuController" asp-action="@parent.MenuAction">
                                <i class="@parent.MenuIconBig"></i>
                                <p>@parent.MenuName/@parent.MenuAction</p>
                            </a>
                        </li>
                    }

                }

            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->